<div class="container">
  <div class="dataRow">
    <div class="title">
      <h4 class="text-center">Batalla Naval</h4>
    </div>
    <div class="rules">
      <p>
        Debes encontrar los barcos!
      </p>
      <p>Hay 10 barcos distribuidos aleatoriamente en el tablero,<br>los barcos no se tocan entre sí.</p>
      <p>⚓ <strong>Ancla</strong>, este casillero no fue clickeado.</p>
      <p>🌊 <strong>Agua</strong>, no hay barcos.</p>
      <p>🚢 <strong>Barco</strong>, hay un barco en este casillero.</p>
      <p>Suerte!</p>
    </div>
    <button routerLink="/setup" >Ok</button>
  </div>
</div>
